.about {
  background-color: white;
  width: 100%;
}
.first-section {
  padding-top: 80px;
}

.section {
  text-align: center;
  background-color: white;
  margin-top: 30px;

  span {
    color: #acb6e5; //非対応のブラウザでの文字色を設定
    background: -webkit-linear-gradient(
      -45deg,
      rgb(167, 152, 243),
      rgb(228, 129, 220)
    ); //背景色にグラデーションを指定
    background-clip: text; //テキストでくり抜く
    -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
  }
  .text {
    text-align: left;
  }
  li {
    list-style: none;
  }
}
