@keyframes bg-anime {
  0% {
    background: rgb(167, 152, 243);
  }
  50% {
    background: rgb(228, 129, 220);
  }
  100% {
    background: rgb(167, 152, 243);
  }
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%; //may not need it
}
body {
  height: 100%; //may not need it
}

.gradient {
  background-image: linear-gradient(
    -45deg,
    rgb(167, 152, 243),
    rgb(228, 129, 220)
  );

  animation: bg-anime 4s ease infinite;
}

.main {
  h1 {
    font-family: "Black Ops One", cursive;
    margin: 0;
    color: white;
    font-size: 40px;
  }
  p {
    margin: 0;
    color: white;
  }
}
.container {
  padding-bottom: 30px;
}

.center {
  text-align: center;
  padding: 40vh 0;
}
.subtitle {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
}
h2 {
  margin-bottom: 0;
}

.first-section {
  padding-top: 80px;
}

.section {
  text-align: center;
  background-color: white;
  margin-top: 30px;

  span {
    color: #acb6e5; //非対応のブラウザでの文字色を設定
    background: -webkit-linear-gradient(
      -45deg,
      rgb(167, 152, 243),
      rgb(228, 129, 220)
    ); //背景色にグラデーションを指定
    background-clip: text; //テキストでくり抜く
    -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
  }
  .text {
    text-align: left;
  }
  li {
    list-style: none;
  }
  .about-card {
    width: 100%;
    text-align: left;
  }
  .bio-deader {
    display: flex;
  }
  .name {
    padding: 60px 0;
  }
  .horizontal-list ul {
    display: flex;
  }
}
