.work-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.work-text {
  width: 30%;
  height: 110px;
}
.work-img {
  width: 50%;
}
.work-img img {
  width: 100%;
}
.work-container:nth-child(even) {
  flex-direction: row-reverse;
}
